NiFi_GeoEnrichIP/NiFi_Salesforce/Authenticate To Salesforce/Salesforce_Authentication.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>This Flow will authenticate against a Salesforce Org
</description>
    <groupId>01671210-842a-1174-a1bb-451adf8cf97e</groupId>
    <name>Salesforce Authentication</name>
    <snippet>
        <connections>
            <id>0f40700b-ec7e-3ca5-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <versionedComponentId>ed09092d-8892-370f-a793-efe1673d3bbd</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>d71db41e-64c6-3985-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7f8893c7-b239-3c71-b442-efec0e272c15</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>d7435804-e8a9-3cb8-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>daede306-34d7-3eb6-8aa9-7fa39aa322e1</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2ce1de46-b5e8-35e5-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <versionedComponentId>3f0d10b6-ccdd-353e-9bd3-88c62567684f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>9dcd6f8c-00a5-3b1e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d45e41d-f5c4-3460-b461-4d2ec24604e4</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>e8141b19-227a-3f36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>47f47010-3fb1-3cd8-aa4c-a4dc31215e51</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6e0ccdae-63a3-3431-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <versionedComponentId>e3da0a50-b71f-336e-abb5-c61f2b125ed5</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>f8dd9316-725f-35a3-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>b1f13357-c883-3c65-8eec-fd587b1513be</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>9dcd6f8c-00a5-3b1e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d45e41d-f5c4-3460-b461-4d2ec24604e4</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ac529a42-2c51-393e-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <versionedComponentId>60b06529-adb0-3b13-9f05-c2aae14a968b</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>e8141b19-227a-3f36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>47f47010-3fb1-3cd8-aa4c-a4dc31215e51</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>d71db41e-64c6-3985-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7f8893c7-b239-3c71-b442-efec0e272c15</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c1250aa2-c38c-3a83-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <versionedComponentId>ac4e5b21-5db5-3345-b83c-7a177dd6cbe3</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>19bc12b9-60cd-35a2-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>68dda909-9d11-30df-98df-35e34190de56</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Failure</selectedRelationships>
            <selectedRelationships>No Retry</selectedRelationships>
            <source>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>e8141b19-227a-3f36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>47f47010-3fb1-3cd8-aa4c-a4dc31215e51</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e82a276f-882f-347f-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <versionedComponentId>7b228ab2-ca4f-345b-bbf9-a96fd1809c16</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1.357421875</x>
                <y>337.96240234375</y>
            </bends>
            <bends>
                <x>0.0</x>
                <y>400.8673095703125</y>
            </bends>
            <destination>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>e8141b19-227a-3f36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>47f47010-3fb1-3cd8-aa4c-a4dc31215e51</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Retry</selectedRelationships>
            <source>
                <groupId>4fd11483-5d02-369a-0000-000000000000</groupId>
                <id>e8141b19-227a-3f36-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>47f47010-3fb1-3cd8-aa4c-a4dc31215e51</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <inputPorts>
            <id>d7435804-e8a9-3cb8-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>153.3466796875</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>daede306-34d7-3eb6-8aa9-7fa39aa322e1</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>IN Get SalesForce Token</name>
            <state>STOPPED</state>
            <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
            <id>9ccf3049-5004-37c5-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>149.1574775941881</x>
                <y>734.8518006301197</y>
            </position>
            <versionedComponentId>b958fbd3-fd28-321c-ab1d-b1ab9e70b244</versionedComponentId>
            <height>168.0</height>
            <label>Success Flows
</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#38f200</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>280.0</width>
        </labels>
        <labels>
            <id>a9e25ef9-f279-32f9-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>686.9045479066881</x>
                <y>276.88341684105717</y>
            </position>
            <versionedComponentId>2cb0e2c5-5bff-3f38-9ae5-9dea4b24a019</versionedComponentId>
            <height>168.0</height>
            <label>Failed Flows
</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#f20030</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>280.0</width>
        </labels>
        <outputPorts>
            <id>19bc12b9-60cd-35a2-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>700.1736825147746</x>
                <y>332.44250501545184</y>
            </position>
            <versionedComponentId>68dda909-9d11-30df-98df-35e34190de56</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>OUT Failure</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
            <validationErrors>'Port 'OUT Failure'' is invalid because Port has no outgoing connections</validationErrors>
        </outputPorts>
        <outputPorts>
            <id>f8dd9316-725f-35a3-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>161.3466796875</x>
                <y>769.0</y>
            </position>
            <versionedComponentId>b1f13357-c883-3c65-8eec-fd587b1513be</versionedComponentId>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>OUT IN Get SalesForce Token</name>
            <state>STOPPED</state>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
            <id>9dcd6f8c-00a5-3b1e-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>102.41251512804592</x>
                <y>501.615966796875</y>
            </position>
            <versionedComponentId>3d45e41d-f5c4-3460-b461-4d2ec24604e4</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>access_token</key>
                        <value>
                            <name>access_token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>
                            <name>id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>instance_url</key>
                        <value>
                            <name>instance_url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>issued_at</key>
                        <value>
                            <name>issued_at</name>
                        </value>
                    </entry>
                    <entry>
                        <key>signature</key>
                        <value>
                            <name>signature</name>
                        </value>
                    </entry>
                    <entry>
                        <key>token_type</key>
                        <value>
                            <name>token_type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>access_token</key>
                        <value>$.access_token</value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>$.id</value>
                    </entry>
                    <entry>
                        <key>instance_url</key>
                        <value>$.instance_url</value>
                    </entry>
                    <entry>
                        <key>issued_at</key>
                        <value>$.issued_at</value>
                    </entry>
                    <entry>
                        <key>signature</key>
                        <value>$.signature</value>
                    </entry>
                    <entry>
                        <key>token_type</key>
                        <value>$.token_type</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>d71db41e-64c6-3985-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>109.57950731554592</x>
                <y>106.3123779296875</y>
            </position>
            <versionedComponentId>7f8893c7-b239-3c71-b442-efec0e272c15</versionedComponentId>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>clientid</key>
                        <value>
                            <name>clientid</name>
                        </value>
                    </entry>
                    <entry>
                        <key>clientsecret</key>
                        <value>
                            <name>clientsecret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>password</key>
                        <value>
                            <name>password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>username</key>
                        <value>
                            <name>username</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>clientid</key>
                        <value>clientid</value>
                    </entry>
                    <entry>
                        <key>clientsecret</key>
                        <value>clientsecret</value>
                    </entry>
                    <entry>
                        <key>password</key>
                        <value>password</value>
                    </entry>
                    <entry>
                        <key>username</key>
                        <value>username</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Set Parameters</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>e8141b19-227a-3f36-0000-000000000000</id>
            <parentGroupId>4fd11483-5d02-369a-0000-000000000000</parentGroupId>
            <position>
                <x>105.3466796875</x>
                <y>300.0</y>
            </position>
            <versionedComponentId>47f47010-3fb1-3cd8-aa4c-a4dc31215e51</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>https://login.salesforce.com/services/oauth2/token?grant_type=password&amp;client_id=${clientid}&amp;client_secret=${clientsecret}&amp;username=${username}&amp;password=${password}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>application/x-www-form-urlencoded</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InvokeHTTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>No Retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Retry</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
    </snippet>
    <timestamp>02/21/2020 15:10:01 AEDT</timestamp>
</template>
